.project-card {
  flex-basis: 31%;
  position: relative;
}

.project-card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  display: block;
  max-height: 44rem;
  height: 44rem;
}

.project-card .card-img{
  position: relative;
}

.project-card .card-img .img-overlay {
  padding-top: 70%;
  position: absolute;
   border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--overlay);
  color: var(--color-white);
  display: flex;
  align-items: start;
  justify-content: end;
  flex-direction: column;
  cursor: pointer;
}

.project-card p {
  padding-left: 2.7rem;
  max-width: 24rem;
  font-size: 2.4rem;
  position: absolute;
  bottom: 8.1rem;
  color: var(--color-white);
}

.project-card button {
  width: 100%;
  transition: 0.3s;
  padding: 1.4rem 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-card:hover button {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.project-card button i {
  font-size: 1.6rem;
}
