.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url(../../assets/media/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
}

.hero .container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.hero .container h3 {
  max-width: 54rem;
  line-height: clamp(2.4rem, 5vw, 7.2rem);
}

.hero .container p {
  color: var(--color-white);
}

.hero .container button {
  color: var(--color-white);
  background-color: var(--color-orange);
  padding: 1.6rem 2.4rem;
  border-radius: 0.4rem;
  max-width: 18rem;
  transition: 0.5s ease;
}

.hero .container button:hover {
  transform: scale(1.2);
}
