footer {
  position: relative;
  padding-top: 3rem;
  z-index: 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

footer .container .logo {
  max-width: 10.9rem;
  max-height: 5.3rem;
}

footer .container .social-links {
  display: flex;
  flex-direction: column;
  gap: 7.8rem;
}

footer .container .social-links ul.socials {
  display: flex;
  gap: 4rem;
}

footer .container .social-links .socials button {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 2rem;
  transition: 0.5s ease;
}

footer .container .social-links .socials button:hover {
  background-color: var(--color-orange);
}

footer .container .social-links form input {
  max-width: 28rem;
  background-color: var(--color-extra-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 8px 0px 0px 8px;
  padding: 1.3rem 0 1.5rem 2rem;
  transition: 0.3s ease;
}

footer .container .social-links form input:focus {
  border: 1px solid var(--color-orange);
}


footer .container .social-links form .subscribe {
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--color-orange);
  border-radius: 0px 8px 8px 0px;
  border: 1px solid var(--color-orange);
  color: var(--color-white);
}

footer .footer-copyright {
  margin-top: 10rem;
  text-align: center;
  padding: 3.3rem 0;
}

/*media queries*/
@media screen and (max-width: 600px) {
  footer .container .social-links ul.socials {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  footer .container {
    justify-content: center;
    margin-top: 2rem;
  }

  footer .container .logo {
    display: none;
  }

  footer .footer-copyright {
    margin-top: 2rem;
  }
}
