:root{
  --color-black: #000000;
  --color-lighter-black: rgba(0,0,0,0.9);
  --color-white: #ffffff;
  --color-orange:  #e48e33;
  --color-blue: #047CD1;
  --color-extra-light-gray: #fafafa;
  --color-light-gray: #f0f0f0;
  --color-lighter-gray: #e0e0e0;
  --color-gray: #828282;
  --color-second-gray: #6B6B6B;
  --overlay: rgba(0,0,0,0.4)
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}

.container {
  width: 95%;
  height: 100%; 
  max-width: 111rem;
  margin-inline: auto;
}

.section-heading {
  width: 95%;
  height: 100%; 
  max-width: 142rem;
  margin-inline: auto;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.swiper {
  width: 100%;
  height: 100%;
}
 
.swiper-pagination{
  display: none;
}