:root{
  --color-black: #000000;
  --color-white: #ffffff;
  --color-orange:  #e48e33;
  --color-blue: #047CD1;
  --color-extra-light-gray: #fafafa;
  --color-light-gray: #f0f0f0;
  --overlay: rgba(0,0,0,0.2)
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
}

.container {
  width: 95%;
  height: 100%; 
  max-width: 114rem;
  margin-inline: auto;
}

.section-heading {
  width: 95%;
  height: 100%; 
  max-width: 142rem;
  margin-inline: auto;
}